<li class="message">
  <div class="send-at">
    <%= time_ago_in_words(message.created_at) %> ago by 
  </div>
  <div class="content">
    <b><%= message.user.name %>:</b>  <%= message.text %>
  </div>
</li>