<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">

  <div id="account_info">
      <h2><%= @user.name %></h2>
      <div class="bio col-md-8">
        <p><%= image_tag avatar_url(current_user), id: "gravatar" %><%= @user.bio %></p>
      </div>
      <div class="col-md-3">
      <p class="skill_stack">Skill stack</p>
      <ul class="skills_set">
        <%= render partial: 'skills/skill', collection: @user.skills, locals: {user: @user, project: nil} %>
      </ul>
    </div>
  </div>
</div>