    <li>
      <div class="skill_box <%= skill.name %>_box">
        <span class="icon"></span>
          <div class="skill_name">
            <%= skill.name %><% if user.skill_score(skill) > 1 %><sup><%= user.skill_score(skill) %></sup><% end %>
              <% if endorsable == true %>
                <% unless skill.rated?(user, @project) || current_user.is_not_admin_for?(@project) %>
                  <%= button_to "+", {controller: "user_projects", action: "update", user_id: user.id, project_id: project.id, skill_id: skill.id}, method: :post, class: "endorse_button" %>
                <% end %>
              <% end %>
        </div>
      </div>
    </li>