<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="" id="home_page"><%= current_user.name %></a></li>
    <li><a href="" id="edit_account_link">Edit Account</a></li>

  </ul>
</div>