<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="" id="home_page"><%= current_user.name %></a></li>
    <li><%= link_to "Edit Account", edit_user_registration_path, class: "edit_account_link" %></li>

  </ul>
</div>