<div>
  <% @projects.each do |project| %>
    <div>
      <h3><%= link_to project.title, project %></h3>
      <p class="project-subhead"><%= "Started looking for collaborators #{time_ago_in_words(project.created_at)} ago" %></p>
      <p><%= project.description %></p>
    </div>
  <% end %>
</div>