<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div id="solicited_projects">
    <% if @projects.empty? %>
      <h2>You are not waiting to join any projects</h2>
    <% else %>
      <h2>Projects I'm waiting to join</h2>
        <% @projects.each do |project| %>
          <div>
              <h4><%= link_to project.title, project, class: "project_title" %></h4>
              <p><%= project.description %></p>
          </div>
        <% end %>
    <% end %>
  </div>
</div>