@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(http://fonts.googleapis.com/css?family=Neuton:300,400italic);

@media all{
  .navbar, .navbar-header{
    margin:0;
    padding-top:5px;
    margin-top:0;
  }
  .alert{
    margin-top:90px;
  }
  .alert-success{
    background-image:none;
    color: rgb(24, 191, 0);
    border: 1px solid solid rgb(24, 191, 0);
    font-family:'Raleway';
    font-weight:100;
  }

  .about_us, .sign_in{
    margin-top:100px;
  }

  .sign_up{
  margin-top:50px;
  }
}

.about_us h2, .sign_in h2, .sign_up h2 {
  font-family: "Neuton";
  text-align:center;
  font-weight:300;
  font-style:italic;
  font-size:200%;
}

.navbar-right a {
  font-family: "Neuton", serif;
  font-size: large;
  font-weight:400;
  font-style:italic;
}

.about_us, .sign_in, .sign_up {
  background-color:#ecf0f1;
  padding:8px;
  border-radius:5px;
  border: 1px solid rgb(24, 191, 0);
  text-align:justify;
}

.about_us p, label {
  font-family: "Neuton";
  font-size: large;
  font-weight: 400;
  font-style:italic;
}

.sign_in a{
  color:rgb(24, 191, 0);
  font-family:"Neuton";
  font-weight:400;
  font-style: italic;
  font-size:1.2em;
}

.sign_in a:hover{
  color:black;
  text-decoration:none;
}

.about_us{
  background:white;
  margin-left:60px;
}

.about_us, .sign_in {
  margin-top: 130px;
}

#error_explanation h2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size:14px;
}

#error_explanation li{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size:14px;
}

.sign_up_column{
  float:left;
  width:50%;
}

.skills_column{
  float:left;
  width:50%;
}

.skills_column label{
  font-family: "Neuton";
  font-weight:400;
  font-size:200%;
  margin-top:20px;
  line-height:1.1;
}

.sign_up_button{
  margin-top:15px;
  clear:both;
  padding-top:20px;
}

.sidebar .nav li{
  font-family: "Raleway", sans-serif;
  background-color:white;
  border-bottom:1px solid black;
}

.sidebar .nav li a{
  color:black;
}

.sidebar{
  position:fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border-right: 1px solid black;
  height:100%;
  -webkit-box-shadow: 1px 0px 24px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    1px 0px 24px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         1px 0px 24px 0px rgba(50, 50, 50, 0.1);
}

.team_member li, .team_collaborator li{
  margin-left:-30px;
  margin-bottom:10px;
  list-style-type: none;
}

.gravatar {
  margin-right:12px;
  border-radius: 50%;
}

.sidebar{
  height:100%;
}

.nav-sidebar{
  height:80%;
}

.chat_window{
  height: 80%;
}

.chat_box{
  width:214px;
  height:80%;
}

#message_form{
  width:100%;
  clear:both;
  position:fixed;
  bottom:0;
  margin-bottom: 10px;
}

#message_form input[type=submit]{
  display:block;
  margin-left: 5px;
  margin-top: 4px;
  width: 228px;
}

#message_text {
  width:228px;
  margin-left:5px;
}

.project_team{
  background-color:#ecf0f1;
  padding:8px;
  border-radius:5px;
  border: 1px solid rgb(24, 191, 0);
}

.navbar, .navbar-header{
  padding-left:15px;
  height:115px;
  margin-bottom:0;
}

.navbar {
  margin-bottom:0 !important;
  height:141px !important;
  border-bottom: 1px solid black !important;
}

.sidebar {
  border-right:1px solid black;
}

.navbar-header a, .navbar-brand{
  background:url('teamuplogo.png');
  height:115px;
  width:260px;
}

.dropdown{
  margin-top:15px;
  margin-right:20px;
}

.sidebar{
  margin-top:90px;
  padding-top:0;
}

.row{
  margin-top:75px;
}

.row.subsequent_people {
  margin-top:0;
}

.row.subsequent_people {
  margin-top:0;
}

.navbar{
  border:none;
}

.navbar-fixed-top{
  border:none;
}

.navbar-default{
  border:none;
  box-shadow:none;
  -webkit-box-shadow:none;
}


/* Styling of prospective collaborators */


.suggested_collaborators h4{
  font-family: "Raleway";
}

.suggested_collaborators, .want_to_join{
  font-family: "Neuton";
  font-weight:400;
  font-size:1.2em;
  color:black;
}

.skill_name form{
  display:inline-block;
}

.nav-sidebar li:first-child a{
  color:rgb(24, 191, 0); 
  border-left:none;
}

ul, li {
list-style-type: none;
}

.button_to {
  float:right;
}

#chat {
  margin-top:20px;
  height: 550px;
  overflow: auto;
}

#chat .message {
  border-bottom:1px solid #cbcbcb;
}

label {
  margin-top:15px;
}

.cancel_account {
  float:left;
}

.update_account {
  margin-top:15px;
}

.select2-choices {
  display:block;
  border-radius:4px;
  width:400px;
}

.content {
  color:tomato;
}

.remove_user_button input[type=submit] {
  background-color: #ffffff;
  color:tomato;
  margin:0;
  border:1px solid tomato;
}

.remove_user_button input[type=submit]:hover {
  background-color: tomato;
  color:white;
  margin:0;
}

#welcome-message {
  width:80%;
}






