@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:100);


.about_us h2, .sign_in h2, .sign_up h2 {
  font-family: "Yellowtail";
  font-weight:800;
  font-size:300%;
}

.navbar-right a {
  font-family: "Lato", sans-serif;
  font-size: large;
}

.about_us, .sign_in, .sign_up {
  background-color: #ecf0f1;
  border-radius: 15px;
  border: 1px solid #34495e;
  -webkit-box-shadow: 2px 2px 0px 2px rgba(52,73,94,1);
  -moz-box-shadow: 2px 2px 0px 2px rgba(52,73,94,1);
  box-shadow: 2px 2px 0px 2px rgba(52,73,94,1);
  padding: 0 0 20px 0;
  text-align:justify;
}

.about_us p, label {
  font-family: "Lato";
  font-size: large;
  font-weight: 300;
}

.sign_in a{
  color:black;
  font-weight:300;
  font-style: italic;
}

.sign_in a:hover{
  color:white;
  text-decoration:none;
}

.about_us, .sign_in {
  margin-top: 70px;
}

.btn-primary {
  background-color: #34495e; 
}

#error_explanation h2{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size:14px;
}

#error_explanation li{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size:14px;
}

.field_with_errors input{
  background-color:red;
}

.sign_up_column{
  float:left;
  width:50%;
}

.skills_column{
  float:left;
  width:50%;
}

.skills_column label{
  font-family: "Yellowtail";
  font-weight:400;
  font-size:300%;
  margin-top:20px;
  line-height:1.1;
}

.sign_up_button{
  margin-top:15px;
  clear:both;
  padding-top:20px;
}

.sidebar .nav li{
  font-family: "Raleway", sans-serif;
  background-color:white;
  border-bottom:1px solid black;
}

.sidebar .nav li a{
  color:black;
}

.sidebar{
  position:fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border-right: 1px solid black;
  height:100%;
}

.team_member li{
  margin-left:-30px;
  margin-bottom:10px;
  list-style-type: none;
}

.gravatar {
margin-right:12px;
  border-radius: 50%;
}

.chat_box{
  min-height:550px;
}

.project_team{
  background-color:#ecf0f1;
  padding:8px;
}
