<div class="container">

  <div class="sign_in col-md-3 col-md-offset-1">
    <%= render 'devise/registrations/form' %>
  </div>

  <div class="about_us col-md-6">
    <div class="welcome_logo"><%= image_tag('welcome_logo.png') %></div>
    <p>team up is a place to find collaborators for your side projects.</p>
    <p>Post your projects and the skills you’re looking for, and join projects that need your skills to round out their team.</p><br/><br/><p>Team Up was built by Brandon Hopkins and Matthias Loker at the Flatiron School</p>
  </div>

</div>