<div class="container">

  <div class="about_us">
    <h2>Welcome to Website!</h2>
    <p>Website is a place to find collaborators for your side projects.</p>
    <p>Post your projects and the skills you’re looking for, and join projects that need your skills to round out their team.</p>
  </div>

  <div class="sign_in">
    <%= render registrations/form %>
  </div>

</div>