<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="" id="home_page"><%= current_user.name %></a></li>
    <li><%= link_to "Start a new Project", new_project_path %></li>
    <li><a href="" id="administrated_projects_link">My Projects</a></li>
    <li><a href="" id="projects_as_collaborator_link">My Current Teams</a></li>
    <li><a href="" id="solicited_projects_link">Pending Applications</a></li>
    <li><%= link_to "Invitations", invitations_path %></li>
    <li><a href="" id="completed_projects_link">Finished Projects</a></li>
    <li><%= link_to "Edit Account", edit_user_registration_path, class: "edit_account_link" %></li>
  </ul>
</div>